EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
EXPO_PUBLIC_SUPABASE_URL=https://xxx.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJxxx
EXPO_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaxxx
EXPO_PUBLIC_DEEPL_API_KEY=your_deepl_api_free_key
DEEPL_API_KEY=your_deepl_api_free_key
EXPO_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_xxx
HEALTHDIRECT_API_KEY=xxx
